<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<link rel="stylesheet" href="public/css/style.css">
	<script src="js/lib/angular.min.js"></script>
	<script>
		var myApp = angular.module("myApp", []);
	</script>
	<script src="js/controllers/textCtrl.js"></script>
	<script src="js/controllers/addCtrl.js"></script>
	<script src="js/controllers/indexCtrl.js"></script>
    <script src="js/directives/customTotal.js"></script>
    <script src="js/filters/customFilter.js"></script>
	<script src="js/services/customService.js"></script>
</head>
<body>
<div ng-controller="indexCtrl">
	<form name="addForm">
		<div>
		<h1>Рекомендуемые книги для детей</h1>
	</div>
	<div ng-controller="addCtrl" >
		<div class="form">
			<input class="edit" ng-model="new.name" placeholder="Название" required>
		</div>
		<div class="form">
			<input type="number" ng-model="new.page" placeholder="Количество страниц" required>
		</div>
		<div class="form">
			<button class="button" ng-click="addItem(new, addForm)">Добавить</button>
		</div>
	</div>
	</form>
    <table ng-controller="textCtrl">
        <thead>
        <tr>
            <th>Название</th>
            <th>Количество страниц</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in list.items">
            <td>{{item.name | customFilter}}</td>
            <td>{{item.page | number:2}}</td>
        </tr>
        <tr id="total">
            <td><b>Всего страниц</b></td>
            <td custom-total=""></td>
        </tr>
        </tbody>
    </table>

</div>
</body>

</html>